/* здесь используйте глобальные переменные */

/* шрифты */

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

/* цвета */

$f-main: #444444;
$f-secondary: #000000;
$f-minor: #222222;
$f-trifle: #111111;
$f-highlighted: #ffffff;
$f-average: #666666;

$bg-main: #68b738;
$bg-main-dim: #5eaa2f;

$bg-secondary: #f2f2f2;
$bg-secondary-dim: #ebebeb;
$bg-secondary-dull: #cdcdcd;
$bg-secondary-rare: #bababa;

$bg-extra: #d9d9d9;
$bg-extra-dim: #e6e6e6;
$bg-extra-dull: #eaeaea;
$bg-extra-rare: #d3d3d3;
$bg-extra-sparse: #d9d9d9;
$bg-extra-scarce: #e7e7e7;

$error: #ff8282;
$error-minor: #b63841;

/* дисплей */
$tablet-width: 768px;
$desktop-width: 1440px;
