// .about {
// }

// .about__container {
// }

.about__title {
  @include font-setting($secondary-font, 36px, 400, 40px, $f-secondary);
}

.about__list {
  @include list-resseting;
}

.about__item {
  position: relative;

  &--eco {
    &::before {
      background: url("../../images/icons/stack.svg#leaf"), linear-gradient(#68b738 0%, #68b738 100%);
      background-size: 30px 32px, 100%;
    }
  }

  &--fast {
    &::before {
      background: url("../../images/icons/stack.svg#powder"), linear-gradient(#68b738 0%, #68b738 100%);
      background-size: 26px 29px, 100%;
    }
  }

  &--food {
    &::before {
      background: url("../../images/icons/stack.svg#eat"), linear-gradient(#68b738 0%, #68b738 100%);
      background-size: 25px 30px, 100%;
    }
  }

  &--time {
    &::before {
      background: url("../../images/icons/stack.svg#time"), linear-gradient(#68b738 0%, #68b738 100%);
      background-size: 27px 31px, 100%;
    }
  }

  &--eco::before,
  &--food::before,
  &--fast::before,
  &--time::before {
    position: absolute;
    left: 20px;
    width: 60px;
    height: 60px;
    content: "";
    background-position: center;
    background-repeat: no-repeat;
  }
}

.about__description {
  padding-left: 100px;
}
