.blank {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
  margin: 0;
  border: none;

  @media (min-width: $tablet-width) {
    gap: 17px;
  }
}

.blank__description {
  @include font-setting($secondary-font, 16px, 400, 18px, $f-main);
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 13px;
  text-transform: uppercase;

  // span {
  //   max-width: 67px;
  // }

  &:has(.blank__input[type="email"])::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 12px;
    mask-image: url("../../images/icons/email-icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #222222;
    translate: 0 -50%;
  }

  &:has(.blank__input[type="tel"])::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    right: 12px;
    mask-image: url("../../images/icons/phone-icon.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: #222222;
    translate: 0 -50%;
  }

  &:has(.blank__input.blank__input--error)::before {
    background-color: #ff8282;
  }

  &:has(.blank__input.blank__input--error:hover)::before,
  &:has(.blank__input.blank__input--error:focus)::before,
  &:has(.blank__input.blank__input--error:active)::before {
    background-color: #b63841;
  }

  &:has(.blank__input:focus)::before {
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.blank__input {
  &.blank__input--error {
    padding: 13px 14px 12px;
    outline: none;
    border: 2px solid #ff8282;

    &:hover,
    &:focus {
      border-color: #b63841;
    }
  }
}

.blank__list {
  @include list-resseting;
  display: flex;
  flex-direction: column;
  gap: 13px;

  // &--extra {
  // }

  @media (min-width: $tablet-width) {
    &--extra {
      display: grid;
      grid-template-columns: repeat(auto-fit, 284px);
      gap: 32px 60px;
    }
  }

  @media (min-width: $desktop-width) {
    &--extra {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 80px;
    }
  }
}

// .blank__item {
// }

.blank__title {
  @include font-setting($secondary-font, 24px, 400, 26px, $f-secondary);
  position: relative;
  width: fit-content;
  padding: 0;
  float: left;
  margin-bottom: 22px;
  z-index: 2;

  & span {
    display: block;
    position: relative;
    z-index: 2;
    background-color: #ffffff;
    box-shadow: -20px 0 0 #ffffff, 20px 0 0 #ffffff;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 17px;
    right: 0;
    width: 100vw;
    height: 2px;
    box-shadow: 100vw 0 0 #68b738;
    background-color: #68b738;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 58px;
    font-size: 36px;
    line-height: 36px;

    &--extra {
      margin-bottom: 40px;
    }

    & span {
      box-shadow: -40px 0 0 #ffffff, 40px 0 0 #ffffff;
    }

    & span br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
    grid-column: 1 / -1;

    &--extra {
      margin-bottom: 41px;
    }
  }
}

// .blank__comment {
// }

.blank__label {
  grid-column: 1 / 2;
}
