.card {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 20px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 17px 0;

  &--more {
    display: flex;
    gap: 0;
    flex-direction: column;
    align-items: stretch;
    padding-top: 24px;
  }

  &:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: 1px;
    background-color: $bg-secondary-dim;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $bg-secondary-dim;
  }

  @media (min-width: $tablet-width) {
    min-width: 324px;
    min-height: 511px;
    margin: 0;
    padding: 10px 37px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    background-image: linear-gradient(to bottom, $f-highlighted 0, $f-highlighted 81px, $bg-secondary 81px, $bg-secondary 100%);

    &::after,
    &::before {
      display: none;
    }

    &--more {
      justify-content: space-between;
      padding: 0;
      align-items: center;
      background-image: linear-gradient($f-highlighted 0, $f-highlighted 100%);
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    display: flex;
    flex-direction: column;
  }
}

.card__more {
  display: flex;
  gap: 0;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 324px;
    min-height: 429px;
    margin-top: 82px;
    padding: 50px 35px 38px;
    border: 2px solid $bg-secondary;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-top: 47px;
  }
}

.card__link {
  &--title {
    display: block;
    width: 76px;
  }

  &--more {
    margin-bottom: 8px;
  }

  &--image {
    width: 140px;
    height: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    &--title {
      width: 100%;
      margin: 22px 0 20px;
      align-self: stretch;
      text-align: center;
    }

    &--more {
      margin-bottom: 23px;
    }

    &--image {
      width: 200px;
      height: 210px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 169px;

    &--title {
      margin: 13px 0 22px;
    }
  }
}

.card__content {
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 32px;
  }
}

.card__image {
  &--more {
    position: relative;
    width: 30px;
    height: 30px;
    margin-bottom: 24px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 14px;
      width: 30px;
      height: 2px;
      background-color: $bg-extra-rare;
    }

    &::after {
      rotate: 90deg;
    }
  }

  @media (min-width: $tablet-width) {
    &--more {
      width: 60px;
      height: 60px;
      margin: 0;
      margin-bottom: 48px;

      &::before,
      &::after {
        top: 50%;
        width: 60px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    &--more {
      margin-bottom: 42px;
    }
  }
}

.card__title {
  @include font-setting($secondary-font, 16px, 400, 20px, $f-minor);
  margin: 2px 0 14px;
  text-transform: uppercase;

  &--more {
    margin: 0;
    color: $f-trifle;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.card__specifications {
  width: 100%;
  margin: 0;
  margin-bottom: 4px;
}

.card__item {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
    border-bottom: 1px solid $bg-secondary-dull;

    &:not(:last-child) {
      margin-bottom: 7px;
    }
  }
}

.card__property,
.card__value {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__button {
  grid-column: 1 / -1;
  justify-self: stretch;
  text-align: center;

  &--secondary {
    color: $f-main;
    background-color: $bg-secondary;
    align-self: stretch;

    &:hover,
    &:focus,
    &:active {
      color: $f-main;
      background-color: $bg-secondary-dim;
    }
  }

  &:disabled {
    pointer-events: none;
  }

  @media (min-width: $desktop-width) {
    align-self: stretch;
  }
}

.card__text {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: auto;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}
