// .catalog {
// }

.catalog__list {
  @include list-resseting;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 324px);
    gap: 65px 60px;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {
    // max-width: $desktop-width;
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, 245px);
    gap: 63px 79px;
  }
}

// .catalog__item {
// }
