.control {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;

  &:hover .control__mark {
    border-color: #bababa;
  }
}

.control__input {
  &:disabled ~ .control__label,
  &:disabled + .control__mark {
    opacity: 0.3;
  }

  &:checked + .control__mark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &[type="radio"]:checked + .control__mark::before {
    width: 13px;
    height: 13px;
    background-color: #68b738;
    border-radius: 50%;
  }

  &[type="checkbox"]:checked + .control__mark--extra::before {
    width: 18px;
    height: 14px;
    background-image: url("../../images/icons/stack.svg#checkbox");
  }
}

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;

  &--extra {
    border-radius: 0;
  }
}

.control__label {
  @include font-setting($secondary-font, 16px, 400, 18px, $f-main);
  padding: 6px 0 6px;
  grid-column: 2 / 3;
  text-transform: uppercase;
}
