.control {
  position: relative;
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 15px;

  &:hover .control__mark {
    border-color: $bg-secondary-rare;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 40px 1fr;
    gap: 20px;
  }
}

.control__input {
  &:disabled ~ .control__label,
  &:disabled + .control__mark {
    opacity: 0.3;
  }

  &:checked + .control__mark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &[type="radio"]:checked + .control__mark::before {
    width: 13px;
    height: 13px;
    background-color: $bg-main;
    border-radius: 50%;
  }

  &[type="checkbox"]:checked + .control__mark--extra::before {
    width: 18px;
    height: 14px;
    background-image: url("../../images/icons/stack.svg#checkbox");
  }

  &:focus-visible + .control__mark {
    border: 2px solid $bg-secondary-rare;
  }

  @media (min-width: $tablet-width) {
    &[type="radio"]:checked + .control__mark::before {
      width: 18px;
      height: 18px;
    }

    &[type="checkbox"]:checked + .control__mark::before {
      width: 26px;
      height: 26px;
    }
  }
}

.control__mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $bg-secondary-dull;
  border-radius: 50%;

  &--extra {
    border-radius: 0;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control__label {
  @include font-setting($secondary-font, 16px, 400, 18px, $f-main);
  padding: 6px 0;
  grid-column: 2 / 3;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 5px 0;
    font-size: 20px;
    line-height: normal;
  }
}
