.example {
  position: relative;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $bg-extra-dim;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
  }
}

.example__container {
  display: grid;
  padding: 25px 20px 40px;
  background-color: $bg-extra-dull;

  @media (min-width: $tablet-width) {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
    padding-top: 45px;
    background-color: $f-highlighted;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}

.example__content {
  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 100vw;
    padding: 70px 110px 63px;
    grid-column: 1 / -1;
    background-color: $bg-extra-dull;
    box-shadow: -100vw 0 0 0 $bg-extra-dull;
  }
}

.example__title {
  @include font-setting($secondary-font, 36px, 400, 40px, $f-secondary);
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 10px;
    margin-bottom: 76px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 432px;
    margin-bottom: 69px;
  }
}

.example__list {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 124px);
  gap: 11px 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 254px;
    grid-template-columns: 162px 162px 1fr;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    grid-template-columns: 162px 162px;
    gap: 38px 42px;
  }
}

.example__item {
  display: grid;
  grid-template-rows: 1fr;
  gap: 0;
  align-items: center;

  &--expense {
    display: flex;
    gap: 2px;
    justify-content: center;
    grid-column: 1 / -1;
  }

  @media (min-width: $tablet-width) {
    grid-column: auto;

    &--expense {
      flex-direction: column;
      justify-content: start;
      align-items: end;
    }
  }

  @media (min-width: $desktop-width) {
    &--expense {
      flex-direction: row;
      gap: 63px;
      grid-column: 1 / -1;
      align-items: center;
    }
  }
}

.example__number {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $f-secondary;
  text-align: center;
  text-transform: uppercase;
  align-self: stretch;

  &:not(.example__number--expense-text) {
    padding: 13px 5px 16px;
    border: 1px solid $bg-secondary-dull;
    border-radius: 2px;
  }

  &--expense-text {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;

    &--expense-text {
      margin-top: 3px;
      font-size: 20px;
      text-align: end;
      align-self: end;
    }

    &:not(.example__number--expense-text) {
      padding: 15px 5px 18px;
    }
  }

  @media (min-width: $desktop-width) {
    &--expense-text {
      max-width: 174px;
    }
  }
}

.example__descrtiption {
  max-width: 70%;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  justify-self: center;

  &:not(.example__descrtiption--expense-prise) {
    position: relative;
    top: -10px;
    background-color: $bg-extra-dull;
    box-shadow: 10px 0 0 $bg-extra-dull, -10px 0 0 $bg-extra-dull;
  }

  &--expense-prise {
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) {
    max-width: 80%;
    font-size: 14px;
    line-height: 14px;

    & br {
      display: none;
    }

    &:not(.example__descrtiption--expense-prise) {
      top: -7px;
      background-color: $f-highlighted;
      box-shadow: 10px 0 0 $f-highlighted, -10px 0 0 $f-highlighted;
    }

    &--expense-prise {
      font-size: 20px;
      line-height: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(.example__descrtiption--expense-prise) {
      background-color: $bg-extra-dull;
      box-shadow: 10px 0 0 $bg-extra-dull, -10px 0 0 $bg-extra-dull;
    }
  }
}
