.form-main {
  flex-grow: 1;
  background-color: $bg-primary;
  padding: 27px 20px 32px;

  @media (min-width: $tablet-width) {
    padding: 46px 70px 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 110px 69px;
  }
}

.form-main__title {
  @include font-setting($secondary-font, 36px, 400, 36px, $f-secondary);
  margin-top: 0;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding-left: 0;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form-main__text {
  font-family: $secondary-font;
  margin-top: 0;
  margin-bottom: 15px;
  color: $f-secondary;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
    font-size: 20px;
    line-height: 30px;
  }
}
