.form {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 70px 80px;
  }
}

.form__blank {
  &--about-cat {
    position: relative;
    padding: 23px 0;
  }

  &--choose-program {
    position: relative;
    padding: 22px 0 19px;
  }

  &--contacts {
    padding: 26px 0 12px;

    & .form__title {
      display: block;
    }
  }

  &--comments {
    padding: 12px 0 13px;

    & .form__title {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }

  &--extra {
    padding: 10px 0 32px;
  }

  &--about-cat::before,
  &--choose-program::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $bg-extra-sparse;
  }

  @media (min-width: $tablet-width) {
    &--about-cat {
      padding: 30px 0 72px;
    }

    &--choose-program {
      padding: 23px 27px 25px;
      border: 1px solid $bg-extra-scarce;
    }

    &--contacts {
      padding: 65px 0 53px;
    }

    &--comments {
      padding-bottom: 56px;

      & .form__title {
        margin-bottom: 70px;
      }
    }

    &--about-cat,
    &--choose-program,
    &--contacts,
    &--comments,
    &--extra {
      grid-column: 1 / -1;
    }

    &--extra {
      padding-bottom: 52px;
    }

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--about-cat {
      padding: 0;
      grid-column: 1 / 2;
    }

    &--choose-program {
      padding: 25px 27px;
      grid-column: 2 / 3;
      align-self: start;
    }

    &--contacts {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 80px;
    }

    &--comments {
      padding: 0;

      & .form__title {
        margin-bottom: 60px;
      }
    }

    &--extra {
      padding: 0;
    }
  }
}

.form__button {
  min-width: 280px;
  margin: 0 auto 21px;
  display: block;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 14px 65px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 100px 14px;
  }
}

.form__warning {
  margin: 0;
  line-height: 16px;
  text-align: center;
  color: $f-secondary;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    justify-self: start;
    align-self: center;
  }
}
