.form {
  padding-bottom: 32px;
}

.form__blank {
  &--about-cat {
    position: relative;
    padding: 39px 20px 24px;
  }

  &--choose-program {
    position: relative;
    padding: 31px 20px 16px;
  }

  &--contacts {
    padding: 29px 20px 24px;
  }

  &--comments {
    padding: 0 20px 23px;

    & .blank__title {
      margin-top: 0;
      margin-bottom: 38px;
    }
  }

  &--extra {
    padding: 0 20px 32px;
  }

  &--about-cat::before,
  &--choose-program::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.form__button {
  min-width: 280px;
  display: block;
  margin: 0 auto 21px;
}

.form__warning {
  margin: 0;
  line-height: 16px;
  text-align: center;
  color: $f-secondary;
}
