.hero {
  position: relative;
  z-index: 3;
}

.hero__container {
  padding: 27px 20px 0 20px;
}

.hero__title {
  @include font-setting($secondary-font, 36px, 400, 36px, $f-highlighted);
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
}

.hero__slogan {
  @include font-setting($secondary-font, 14px, 400, 14px, $f-highlighted);
  margin-top: 0;
  margin-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

.hero__product-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
}

.hero__button {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  text-align: center;
}
