.input-blank {
  @include font-setting($secondary-font, 16px, 400, 18px, $f-main);
  width: 100%;
  padding: 14px 15px 13px;
  border: 1px solid #e7e7e7;
  text-transform: uppercase;

  &--long {
    min-height: 150px;
    padding: 14px;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: normal;
  }
}
