.input-blank {
  @include font-setting($secondary-font, 16px, 400, 18px, $f-main);
  width: 100%;
  padding: 14px 15px 13px;
  border: 1px solid $bg-extra-scarce;
  text-transform: uppercase;
  appearance: textfield;

  &--long {
    min-height: 150px;
    padding: 14px;
    resize: none;
  }

  &[type="email"],
  &[type="tel"] {
    padding-right: 35px;

    &:hover,
    &:focus,
    &:active {
      padding-right: 35px;
    }
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &:hover {
    border-color: $bg-secondary-dull;
  }

  &:focus {
    padding: 13px 14px 12px;
    outline: none;
    border: 2px solid $f-main;
  }

  &--long:focus,
  &--long:active {
    padding: 13px;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 20px;
    font-size: 20px;
    line-height: normal;

    &:focus,
    &:active {
      padding: 10px 19px;
    }
  }
}
