.invitation__container {
  padding-top: 26px;
  background-color: $f-highlighted;

  &--secondary {
    background-color: $bg-secondary;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    display: grid;
    grid-template-columns: 110px 565px 1fr;
    grid-template-rows: 95px 1fr 106px;
  }
}

.invitation__content {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 2;

  @media (min-width: $tablet-width) {
    max-width: 1100px;
    margin: 0 auto;
    padding: 49px 70px 59px;
    gap: 10px;
    align-items: center;

    &--more {
      padding-top: 62px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 0;
    left: 0;
    grid-area: 2 / 2 / 3 / 3;
    padding: 61px 79px 60px;
    grid-template-columns: 1fr 1fr;
    gap: 93px;
    background-color: $f-highlighted;
  }
}

.invitation__title {
  @include font-setting($secondary-font, 16px, 400, 20px, $f-trifle);
  margin: 0;
  justify-self: start;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  margin-bottom: 26px;
  line-height: 20px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: stretch;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: right;

    span {
      display: block;
      margin-top: 17px;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.invitation__map {
  display: block;
  margin: 0 auto;
}

.invitation__map-container {
  width: 100%;
  height: 362px;
  background-image:
    image-set(url("../../images/map/map-mobile@1x.png") type("image/png") 1x,
    url("../../images/map/map-mobile@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/map/map-tablet@1x.png") type("image/png") 1x,
        url("../../images/map/map-tablet@2x.png") type("image/png") 2x);
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    background-image:
      image-set(
        url("../../images/map/map-desktop@1x.png") type("image/png") 1x,
        url("../../images/map/map-desktop@2x.png") type("image/png") 2x);
    grid-area: 1 / 1 / -1 / -1;
  }
}
