// .invitation {
// }

.invitation__container {
  background-color: $bg-primary;
  padding-top: 26px;

  &--secondary {
    background-color: #f2f2f2;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.invitation__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  z-index: 2;

  @media (min-width: $tablet-width) {
    padding: 61px 70px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 93px;
    background-color: #ffffff;
    padding: 61px 79px 60px;
  }
}

.invitation__title {
  @include font-setting($secondary-font, 16px, 400, 20px, $f-trifle);
  margin: 0;
  justify-self: start;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.invitation__address {
  margin-bottom: 26px;
  line-height: 20px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-self: stretch;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0;
    text-align: right;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.invitation__map {
  display: block;
  margin: 0 auto;
}

.invitation__map-container {
  width: 100%;
  height: 362px;
  background-image:
    image-set(url("../../images/map/map-mobile@1x.png") type("image/png") 1x,
    url("../../images/map/map-mobile@2x.png") type("image/png") 2x);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/map/map-tablet@1x.png") type("image/png") 1x,
        url("../../images/map/map-tablet@2x.png") type("image/png") 2x);
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../images/map/map-desktop@1x.png") type("image/png") 1x,
        url("../../images/map/map-desktop@2x.png") type("image/png") 2x);
  }
}
