.logos {
  @include list-resseting;
  padding: 40px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 56px 30px;
  }

  @media (min-width: $desktop-width) {
    // max-width: $desktop-width;
    // margin: 0 auto;
    padding: 66px 110px;
  }
}

.logos__item {
  position: relative;
  text-align: center;

  &--academy {
    align-self: stretch;
  }

  &:not(:last-of-type) {
    margin-bottom: 40px;
  }

  &:not(:last-of-type)::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &::before {
      display: none;
    }
  }
}

.logos__link {
  @include font-setting($primary-font, 16px, 400, 20px, $f-main);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;

  &--vk,
  &--youtube,
  &--telegram {
    width: 28px;
    height: 22px;
  }

  &:hover,
  &:focus {
    color: #68b738;
    transition: all 0.3s ease 0s;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
    transition: all 0.3s ease 0s;
  }

  &--cat-energy {
    justify-content: center;

    &:hover,
    &:focus {
      fill: #3e3e3e;
      transition: all 0.3s ease 0s;
    }

    &:active {
      fill: #6b6b6b;
      transition: all 0.3s ease 0s;
    }
  }

  &--academy-text {
    &:hover,
    &:focus {
      color: #444444;
      transition: all 0.3s ease 0s;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      transition: all 0.3s ease 0s;
    }
  }

  &--academy-logo {
    color: #666666;

    &:hover,
    &:focus {
      color: #68b738;
      transition: all 0.3s ease 0s;
    }

    &:active {
      color: rgba(104, 183, 56, 0.3);
      transition: all 0.3s ease 0s;
    }
  }
}

.logos__sub-list {
  @include list-resseting;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;

  &--academy {
    justify-content: space-between;
  }
}

// .logos__sub-item {
// }
