.logos {
  @include list-resseting;

  background-color: #f2f2f2;
}

// .logos__item {
// }

.logos__link {
  @include font-setting($primary-font, 16px, 400, 20px, $f-main);
  transition: all 0.3s ease 0s;

  &--cat-energy {
    &:hover {
      filter: invert(26%) sepia(0%) saturate(1381%) hue-rotate(194deg) brightness(94%) contrast(101%);
      transition: all 0.3s ease 0s;
    }

    &:active {
      filter: invert(45%) sepia(8%) saturate(7%) hue-rotate(340deg) brightness(87%) contrast(82%);
      transition: all 0.3s ease 0s;
    }
  }
}

.logos__sub-list {
  @include list-resseting;
}

// .logos__sub-item {
// }
