// .main-header {
// }

.main-header__container {
  display: flex;
  align-items: center;
  padding: 13px 20px 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #d9d9d9;

  &--index {
    border-bottom: none;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 65px;
      display: block;
      width: 320px;
      height: 302px;
      background: linear-gradient(rgba(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/backgrounds/hero-cat-mobile@2x.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      translate: -50% 0;
      box-shadow: 320px 0 0 0 #62a63b, -320px 0 0 0 #64a83d;
      z-index: 1;
    }
  }


  @media (min-width: $tablet-width) {
    border-bottom: none;
    padding: 25px 34px 15px 30px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 55px 110px 0;

    &::after {
      display: none;
    }
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  transition: all 0.3s ease 0s;

  &:hover {
    opacity: 0.8;
    transition: all 0.3s ease 0s;
  }

  &:active {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
  }
}

.main-header__logo-icon {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}

// .main-header__logo-text {
// }
