.main-content {
  flex-grow: 1;
  background-color: $f-highlighted;

  @media (min-width: $tablet-width) {
    &--catalog {
      padding: 46px 30px 75px;
    }
  }

  @media (min-width: $desktop-width) {
    &--catalog {
      padding: 70px 110px 87px;
    }
  }
}

.main-content__title {
  @include font-setting($secondary-font, 36px, 400, 36px, $f-secondary);
  margin: 0;
  padding: 27px 20px 40px;

  @media (min-width: $tablet-width) {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 0 84px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}
