.main-header__container {
  padding: 13px 20px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $f-highlighted;
  border-bottom: 1px solid $bg-extra-sparse;

  &--no-js {
    display: grid;
    padding-bottom: 0;
  }

  &--index {
    position: relative;
    border-bottom: none;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -302px;
      width: 320px;
      height: 302px;
      background:
        linear-gradient(
          rgba(104, 183, 56, 0.85) 0%,
          rgba(104, 183, 56, 0.85) 100%),
        image-set(
          url("../../images/backgrounds/hero-cat-mobile@1x.webp") type("image/webp") 1x,
          url("../../images/backgrounds/hero-cat-mobile@2x.webp") type("image/webp") 2x,
          url("../../images/backgrounds/hero-cat-mobile@1x.jpg") type("image/jpeg") 1x,
          url("../../images/backgrounds/hero-cat-mobile@2x.jpg") type("image/jpeg") 2x,
        );
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      translate: -50% 0;
      box-shadow: 320px 0 0 0 #62a63b, -320px 0 0 0 #64a83d;
      z-index: 1;
    }
  }


  @media (min-width: $tablet-width) {
    max-width: 1100px;
    margin: 0 auto;
    border-bottom: none;
    padding: 25px 34px 15px 30px;

    &--no-js {
      display: flex;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding: 55px 110px 0;
  }
}

.main-header__logo {
  margin-right: auto;
  align-self: start;
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    opacity: 0.8;
    transition: all 0.3s ease 0s;
  }

  &:active {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
  }
}

.main-header__logo-icon {
  margin-right: 56px;

  @media (min-width: $tablet-width) {
    margin-right: 13px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 14px;
  }
}
