.main-nav__list {
  @include list-resseting;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  z-index: 5;
  transition: all 0.5s ease 0s;

  &--closed {
    display: none;
    pointer-events: none;
    transition: all 0.5s ease 0s;
  }

  &--no-js {
    width: 100%;
    position: relative;
    top: 0;
    pointer-events: all;
    transition: none;
    display: block;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    top: 0;
    max-width: 475px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px 34px;

    &--closed {
      display: flex;
      pointer-events: all;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 600px;
  }
}

.main-nav__item {
  position: relative;
  text-align: center;
  padding: 24px 20px 19px;
  background-color: $f-highlighted;
  transition: all 0.3s ease 0s;

  &:first-of-type {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $bg-extra-dim;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $bg-extra-dim;
  }

  &--no-js {
    &::before,
    &:first-of-type::after {
      left: -20px;
      width: 100vw;
    }
  }

  &:hover > .main-nav__link,
  &:focus > .main-nav__link {
    opacity: 0.6;
    transition: all 0.3s ease 0s;
  }

  &:active > .main-nav__link {
    opacity: 0.3;
    transition: all 0.3s ease 0s;
  }

  @media (min-width: $tablet-width) {
    padding: 8px 0 10px;

    &--no-js::before {
      left: 0;
    }

    &--current::before {
      content: "";
      position: absolute;
      bottom: 2px;
      width: 100%;
      height: 2px;
      background-color: $bg-main;
    }

    &:first-of-type::after,
    &:not(.main-nav__item--current)::before {
      background-color: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 8px 0 6px;
    background-color: transparent;

    &--current::before {
      bottom: 0;
    }

    &--current-index::before {
      background-color: $f-highlighted;
    }
  }
}

.main-nav__link {
  @include font-setting($secondary-font, 20px, 400, 20px, $f-secondary);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: normal;

    &--index {
      color: $f-highlighted;
    }
  }
}
