.programs {
  padding: 21px 20px 21px;

  @media (min-width: $tablet-width) {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 87px 110px 21px;
  }
}

.programs__list {
  @include list-resseting;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.programs__item {
  background-color: $bg-secondary;
  position: relative;
  padding: 30px 20px 18px 20px;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $bg-main;
  }

  &--weight-loss {
    &::before {
      top: 21px;
      left: 27px;
      width: 36px;
      height: 50px;
      background-image: url("../../images/icons/stack.svg#cat-slim");
    }

    &::after {
      top: 24px;
      left: 20px;
    }
  }

  &--weight-gain {
    &::before {
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;
      background-image: url("../../images/icons/stack.svg#cat-pro");
    }

    &::after {
      top: 24px;
      left: 21px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 77px 317px 57px 52px;

    &::after {
      top: 92px;
      right: 63px;
      left: auto;
      width: 200px;
      height: 200px;
    }

    &--weight-loss::before {
      width: 140px;
      height: 194px;
      top: 81px;
      right: 93px;
      left: auto;
    }

    &--weight-gain::before {
      width: 269px;
      height: 113px;
      top: 135px;
      right: 29px;
      left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding: 77px 43px 59px 52px;

    &::after {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }

    &--weight-loss::before {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
    }

    &--weight-gain::before {
      width: 134px;
      height: 56px;
      top: 67px;
      left: 33px;
    }
  }
}

.programs__title {
  @include font-setting($secondary-font, 24px, 400, 37px, $f-secondary);
  margin-top: 0;
  margin-bottom: 29px;
  padding-left: 70px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 73px;
    padding-left: 162px;
  }
}

.programs__text {
  position: relative;
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 23px;

  &:not(:last-child)::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $bg-extra-sparse;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding-bottom: 0;
    font-size: 16px;
    line-height: 24px;


    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 475px;
    margin-bottom: 27px;
    padding-right: 0;
  }
}

.programs__link {
  @include font-setting($secondary-font, 16px, 400, 16px, $f-secondary);
  position: relative;
  padding-right: 50px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;

  &:not(:last-child) {
    display: block;
    width: max-content;
    margin-bottom: 15px;

    &::before {
      translate: 0 -50%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 32px;
    height: 10px;
    background-image: url("../../images/icons/stack.svg#arrow");
    background-position: -8px 0;
    background-repeat: no-repeat;
    transition: all 0.3s ease 0s;
  }

  &:hover::before,
  &:focus::before {
    background-position: -3px 0;
    transition: all 0.3s ease 0s;
  }

  &:active {
    opacity: 0.3;
    transition: all 0.3s ease 0s;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: normal;

    &::before {
      top: 50%;
      translate: 0 -50%;
      right: -10px;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    margin-top: auto;

    &::before {
      top: 50%;
      translate: 0 -50%;
    }
  }
}
