.wrapper {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    &--main {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50vw;
        height: 694px;
        background:
          linear-gradient(to right,
            rgba(104, 183, 56, 0.85) 0,
            rgba(104, 183, 56, 0.85) 1040px,
            #62a63b 1040px,
            #62a63b 100%),
          image-set(
            url("../../images/backgrounds/hero-cat-desktop@1x.webp") type("image/webp") 1x,
            url("../../images/backgrounds/hero-cat-desktop@2x.webp") type("image/webp") 2x,
            url("../../images/backgrounds/hero-cat-desktop@1x.jpg") type("image/jpeg") 1x,
            url("../../images/backgrounds/hero-cat-desktop@2x.jpg") type("image/jpeg") 2x,
          );
        background-position: left 0 center;
        background-size: 100%, 1041px 694px;
        background-repeat: no-repeat;
      }
    }
  }
}
